.convertor {
    max-width: 1000px;
    margin: 100px 500px;
}

.btn {
    border: 2px solid white;
}

.input-value {
    min-width: 200px;
    outline: none;
    border: 2px solid white;
    font-size: 18px;
}

.result-text {
    font-size: 22px;
    margin-bottom: -20px;
}